# Node.js
node_modules/

# Build output
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Misc
.DS_Store
*.log

# React
client/node_modules/
client/build/

# Express
server/node_modules/
